
body {
    background: linear-gradient(white, red, white);
    font-size: 16px;
    overflow-x: hidden;
}

@media screen and (max-width: 767px) {
    body {
        font-size: 14px;
        overflow-x: hidden;
    }
   
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    body {
        font-size: 16px;
        overflow-x: hidden;
    }
   
}

@media screen and (min-width: 992px) {
    body {
        font-size: 18px;
        overflow-x: hidden;
    }
  
}

.section-heading {
    background-color: #f5f0e1; 
    padding: 10px 0;
    text-align: center;
    border-radius: 5px; 
}
.section {
    max-width: 100%; 
    padding: 10px; 
    box-sizing: border-box; 
}
.img-responsive {
    max-width: 100%;
    height: auto;
}
